<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./main.css">
    </head>

    <body>
        <main>
            <article>
                <header>
                    <h1>FSA-Group-7</h1>
                </header>
                <form id="form1"></form>
                <div class="container">
                    <div id="c1" ></div>
                </div>
                <div class="container">
                    <div id="c2" ></div>
                </div>
            </article>
        </main>
        <br>
    </body>
</html>